#map {
  background-color: #ffffff;
}
th {
  text-align: left;
  vertical-align: top;
}
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h2 {
  margin: 0 0 5px;
  color: #777;
}
.leaflet-container {
  background: #fff;
  padding-right: 10px;
}
.leaflet-popup-content {
  width: auto !important;
  padding-right: 10px;
}
.leaflet-tooltip {
  background: none;
  box-shadow: none;
  border: none;
}
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  border: 0px;
}

.marker-properties th {
  width: 33.3333%;
  min-width: 100px;
  white-space: nowrap;
  border: 1px solid #ccc;
}
.marker-properties td {
  width: 60%;
}
table td {
  border: 1px solid #ccc;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.lgu_name {
  font-size: 25px;
}

.leaflet-control-layers-overlays img {
  position: relative;
  top: 8px;
}

.dataAsOff {
  font-size: 12px;
  position: relative;
  top: -7px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .info {
    font-size: 8px;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
